
.smooth_animation{
    background-color: orange;
    border: 5px;
    width: 200px;
    height: 200px;
    transition: 1s;
    }
    .smooth_animation:hover{
    width: 400px;
    }

    .lets_go_around{
        width: 100px;
        height: 100px;
        background-color: greenyellow;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
      }
      
      @keyframes example {
        0%   { left:0px; top:0px;}
        25%  { left:200px; top:0px;}
        50%  { left:200px; top:200px;}
        75%  { left:0px; top:200px;}
        100% { left:0px; top:0px;}
      }

