.hello{
    width: 200px;
    height: 200px;
    border: 1px;
    position: relative;
    background-color: rgb(34, 209, 14);
    color: blue;
    text-align: center;
    font-family: cursive;
    transition: 1s;
    animation-duration: 0.5s;
}

.hello:hover{
    rotate: 280deg;
    background-color: rgb(179, 255, 0);
}


.hullo{
    width: 300px;
    height: 200px;
    border: 1px;
    position: relative;
    background-color: rgb(255, 0, 0);
    color: blue;
    text-align: center;
    font-family: cursive;
    transition: 1s;
    animation-duration: 0.5s;
}

.hullo:hover{
    width: 900px;
}



.hallo{
    width: 420px;
    height: 100px;
    border: 1px;
    position: relative;
    background-color: rgb(81, 34, 156);
    color: rgb(0, 255, 195);
    text-align: center;
    font-family: cursive;
    animation-duration: 0.5s;
}

.hallo:hover{
    transform: color rgb(182, 164, 75);background-color: rgb(180, 134, 253);
}




:root{
    --backcolor:greenyellow;
    --textColor:rgb(16, 0, 141);
}

.we_use_root{
    background-color: var(--backcolor);
    color: var(--textColor);
    border: 1px;
    width: 200px;
    height: 200px;
    text-align: center;
}